bertopic==0.9.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
Cython==0.29.28
filelock==3.6.0
hdbscan==0.8.28
huggingface-hub==0.5.1
idna==3.3
joblib==1.1.0
llvmlite==0.38.0
nltk==3.7
numba==0.55.1
numpy==1.21.0
pandas==1.4.2
Pillow==9.1.0
plotly==5.7.0
pyarrow==7.0.0
pynndescent==0.5.6
pytz==2022.1
PyYAML==5.4.1
regex==2022.4.24
requests==2.27.1
sacremoses==0.0.49
scikit-learn==1.0.2
scipy==1.8.0
sentence-transformers==2.2.0
sentencepiece==0.1.96
tenacity==8.0.1
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
transformers==4.18.0
typing_extensions==4.2.0
umap-learn==0.5.3
urllib3==1.26.9